body {
    margin: 0;
    font-family: 'Kumar One';
    display: grid;
    color:#322626;
    background-color: #fff7ee;
}

header {
    grid-row: 1;
    justify-items: center;
}

header h1 {
    margin: 0;
}

/* header animation start */
.button {
    cursor: pointer;
    width:100%;
    padding: 15px 25px;
    position: relative;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    margin: o;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #322626;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    border: none;
    outline: none;
}

.header-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 50%;
    background-color: #f2994a;
    transition: all 0.5s ease-in-out;
    z-index: -1;
}

.header-btn:after {
    content: "";
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 0%;
    height: 50%;
    background-color: #2d5f5a;
    transition: all 0.5s ease-in-out;
    z-index: -1;
}

.header-btn:hover {
    color: #322626;
}

.header-btn:hover:before,
.header-btn:hover:after {
    width: 100%;
}

/* navigation menu elements */
nav {
    grid-row: 2;
    margin: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    justify-self: center;
    padding: 0;
    width: 100%;
}

.bar {
    background-color: #2d5f5a;
}

li {
    position: relative;
    background-color: #2d5f5a;
    padding: 1rem;
    border-radius: 0.25rem;
    width: 15vw;
    justify-content: center;
    transition: all 300ms;
}

a {
    display: block;
    width: auto;
    text-align: center;
    font-size: 1.25rem;
    text-decoration: none;
    color: #fff7ee;
}

.dropdown {
    display: none;
    background-color: none;
}

.drop:hover .dropdown, .drop:focus .dropdown {
    position: absolute;
    top: 3.4rem;
    left:0;
    display: flex;
    flex-direction: column;
}

.dropdown li {
    width: 15vw;
}

li:hover, li:focus {
    background-color: #f2994a;
    text-decoration: underline;
    color:#fff7ee;
}

section {
    grid-row: 3;
    justify-items: center;
    margin-bottom: 2rem;
}

.title {
    justify-self: center;
    font-size: 48px;
    margin-top: -5px
}

/*contact form*/
form {
	min-width: 25rem;
    justify-items: center;
    background-color: #71A7A4;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px gray;
	
	.title {
		font-family: 'Kumar One';
		color: #212529;
		font-size: 2.5rem;
	}
	
    .form-control {
        background-color: #FFF7EE;
        border-radius: 2rem;
        border: none;
        box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
            
        &.thick {
            height: 3.3rem;
            padding: .5rem 3.5rem;
        }

        &:focus {
            background-color: #FFF7EE;
            border: none;
            box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
        }
    }
        
    .message .form-control {
        padding: .5rem 3.5rem;
    }
	
    ::placeholder {
        font-family: 'Kumar One';
        font-weight: 600;
        font-size: 1.1rem;
        color: #918583;
        position: relative;
        left: 0;
    }
        
    input,
    textarea {
        font-family: 'Kumar Thmor';
        color: #212529;
        font-size: 1.1rem;
        margin: 10px
    }
        
    .icon {
        color: #57565c;
        height: 1.3rem;
        position: absolute;
        left: 1.5rem;
        top: 1.1rem;
    }
}

.text-center {
    
}

.btn.btn-primary {
    font-family: 'Kumar One';
    font-weight: bold;
    color: #FFF7EE;
    font-size: 27px;
    width: 20rem;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 3rem;
    border: 0;
    border-radius: 1rem;
    background-image:linear-gradient(131deg, #2d5f5a, #f2994a, #f2994a, #f2994a);
    background-size: 300% 100%;
    transition: all 0.3s ease-in-out;
}

.btn.btn-primary:hover:enabled {
    box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
    background-size: 100% 100%;
    transform: translateY(-0.15em);
}

/*footer*/
footer {
    grid-row: 4;
    background-color: #f2994a;
    padding: 1rem;
}

.sub-footer {
    display: grid;
}

.mini-logo {
    grid-column: 1;
    justify-items:  center;
    align-content: center;
    font-size: 4rem;
    text-shadow: 0 0 4px black;
    border-right: solid black 0.1rem;
}

.mini-contact p {
    font-family: 'Kdam Thmor';
}

.mini-contact .bold {
    font-family: 'Kumar One'
}

.mini-logo p {
    margin: 0;
    font-family: 'Kumar One';
    padding: 0;
    text-align: center;
    height: min-content;
}

.mini-contact {
    grid-column: 2;
    margin-left: 1rem;
    align-content: center;
}